* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #87CEEB;
    padding: 0;
    margin: 0;
}

div {
    text-transform: capitalize;
}

#pokemon-info {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    text-align: center;
    border-right: 3px solid black;
    border-left: 3px solid black;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: 480px) {
        width: 90%;
        max-width: 900px;
    }
}

#down-element, #error-element {
    display:none
}

#error-element {
    color: #ff5151;
}

#top-element {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    padding: 24px 0;
}

#pokemon-form {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#down-element {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 12px;

    @media (min-width: 480px) {
        flex-direction: row;
        justify-content: space-around;
    }
}

#text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#stats {
    border: 2px solid black;
    border-radius: 50px;
    background-color: darkgrey;
}

#stats p {
    margin: 8px 0;
}

#stats h2 {
    margin-top: 4px;
}

#image-container {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: linear-gradient(to bottom, red 50%,white 50%);
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 480px) {
        width: 300px;
        height: 300px;
    }
}


#image{
    background-color: lightgrey;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 50%;
}